{"adux1050_0.custom.config":{"owner":"sns_adux1050","version":{"type":"flt","ver":"0","data":"0.000000"},"reg_06":{"type":"flt","ver":"0","data":"6144.000000"},"reg_09":{"type":"flt","ver":"0","data":"0.000000"},"reg_0A":{"type":"flt","ver":"0","data":"0.000000"},"reg_79":{"type":"flt","ver":"0","data":"0.000000"},"reg_0B":{"type":"flt","ver":"0","data":"6144.000000"},"reg_0E":{"type":"flt","ver":"0","data":"0.000000"},"reg_0F":{"type":"flt","ver":"0","data":"0.000000"},"reg_7A":{"type":"flt","ver":"0","data":"0.000000"},"reg_10":{"type":"flt","ver":"0","data":"6144.000000"},"reg_13":{"type":"flt","ver":"0","data":"0.000000"},"reg_14":{"type":"flt","ver":"0","data":"0.000000"},"reg_7B":{"type":"flt","ver":"0","data":"0.000000"},"reg_15":{"type":"flt","ver":"0","data":"6144.000000"},"reg_18":{"type":"flt","ver":"0","data":"0.000000"},"reg_19":{"type":"flt","ver":"0","data":"0.000000"},"reg_7C":{"type":"flt","ver":"0","data":"0.000000"}}}